/*** NAVIGATION TOOLS ***/

.compass .fore, .compass .chevron {
  stroke: #666;
}

.compass .back {
  fill: #fff;
  fill-opacity: 1;
}

.compassback {
}
.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
  opacity: 1;
}

.compass rect.back.fore {
  fill: #faa;
  fill-opacity: 1;
  stroke: #eee;
  stroke-width: 1px;
}

.direction {
    fill:#ddd;
    opacity: 0;
}
.compass.active .active .direction {
    fill: none;
    opacity: 0;
}
.compass .chevron {
  fill: none;
  stroke: #111;
  stroke-width: 2px;
  opacity: 1;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke-width: 5px;
  stroke: #986;
  fill:#000;
  opacity:1;

}
