/*** MAP AREA ***/

#map {
  background: #305280;
  height: 100%
}

/** BIG DATE **/
#bigDateBox {
	position:absolute;
	top:2px;
	font-family:sans-serif;
	text-align: center;
	width: 250px;
	left: 45%;
	margin-left: -75px;
	font-size: 3.5em;
	font-weight: bold;
	color:white;
	-moz-text-shadow: 1px 1px 7px #000;
	-webkit-text-shadow: 1px 1px 7px #000;
	text-shadow: 1px 1px 7px #000;
	filter: Shadow(Color=black, Direction=160, Strength=6); /* IE Proprietary Filter*/
}

/** LAYER SYSTEM **/

#layerselect {
	padding-right:10px;
	padding-top:4px;
	padding-bottom:5px;
	background: #fff;
	border: black 1px solid;
}

.toggler {
	background: #fff;
	padding:4px;
	margin:2px;
	display:inline;
	border: black 1px solid;
}

#togglemain {
	position:absolute;
	bottom:3%;
	left:1%;
}

#layerselect{
	position:absolute;
	bottom:10%;
	left:1%;
}

.hiddenlayer{
	display:none;
}

/* POLITICAL LAYER */

/* border levels */
.lvl2 {
	stroke: #aca;
	stroke-width:0.75px;
}
.lvl1 {
  stroke: #ee8;
  stroke-width: 0.9px;
}
/* border when selected event */
.evtselect {
	stroke-width:2px;
	stroke: #b10;
}

.border {
	fill-opacity: 0;
	stroke-opacity: 1;
}
.active {
	fill-opacity: 0;
}
svg .countryname {
  fill: #FCEDC6;
  fill-opacity: 1;
  stroke: none; 
  font-family: 'Doppio One', sans-serif;
  /*font-weight: normal;*/
  /*font-size:1.3em;*/
  text-anchor: middle;
}
/* country name zoom levels */
/*
.czoom2 {
  stroke-width: 0.55;
}
.czoom3 {
  stroke-width: 0.63;
}
.czoom4 {
  stroke-width: 0.80;
}
.czoom5 {
  stroke-width: 0.9;
}
.czoom6 {
  stroke-width: 1.0;
}
.czoom7 {
  stroke-width: 1.1;
}*/

/* HISTORICAL LAYER */

.event {
	stroke-width: 1.5px;
	stroke:#000000;
	fill:#aa1100;
	cursor:pointer;
	fill-opacity: .9;
}
.event:hover {
	stroke-width: 2.5px;
	stroke:#ffffff;
	fill:#ee7733;
}
.evtclicked {
	stroke-width: 3px;
	stroke:#ffffff;
	fill:#ff8866;
}
#eventSelectBox {
    position: absolute;
    background: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#eventSelectBox table {
    padding:0px;
}
#eventSelectBox tr{
    cursor:pointer;
    padding:2px;
}
#eventSelectBox tr:hover{
    background:#f2f2a2;
}
#eventSelectBox .row0{
    background:#f2f2f2;
}
#eventSelectBox .row1{
    background:white;
}

/*  Country polygons */

.poly {
   fill-opacity:0;
   stroke-width: 0px;
   cursor:pointer;
}
.poly:hover {
    stroke-width: 1.8px;
    stroke-opacity:0.9;
    stroke: #ee8;
    fill:#f02;
    fill-opacity:0.16;
}
/*** NAVIGATION TOOLS ***/

.compass .fore, .compass .chevron {
  stroke: #666;
  cursor:pointer;
}

.compass .back {
  fill: none;
  fill-opacity: 0;
}

.compassback {
	visibility:visible;
}
.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
  opacity: 0;
}

.compass rect.back.fore {
  fill: none;
  fill-opacity: 0.0;
  stroke: #eee;
  stroke-width: 1px;
}

.direction {
	fill:none;
	opacity: 0;
	cursor:pointer;
}
.compass.active .active .direction {
	fill: none;
	opacity: 0;
}
.compass .chevron {
  fill: none;
  stroke: #111;
  stroke-width: 2px;
  opacity: 0;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke-width: 5px;
  stroke: #986;
  fill:#000;
  opacity:1;
  
}
