@import "../../style/histoglobe.less";
.guiPopover
{
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,@shadow_intensity);

  .guiPopoverBodyV1, .guiPopoverBodyV2
  {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    position:absolute;
    bottom:0;
    width:100%;
    //background-color: #fff;

    .guiPopoverContent
    {
      font-size: 12pt;

      .hivent-body
      {

        .guiPopoverTitle
        {
          // font-family: 'Libre Baskerville', serif;
          // font-style: italic;
          font-size: 20pt;
          //color: #fff;
          //background-color: #fff;
          //border-bottom: @border_width solid #bcb100;
          //background-image: none;
        }
      }
    }

    h3
    {
      // display: none;
      color: #fff;
    }
  }

  .guiPopoverBody
  {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: #fff;
    position:absolute;
    bottom:0;
    width:100%;
    //background-color: #fff;

    .guiPopoverContent
    {
      font-size: 12pt;

      .hivent-body
      {

        .guiPopoverTitle
        {
          // font-family: 'Libre Baskerville', serif;
          // font-style: italic;
          font-size: 20pt;
          color: #fff;
          //background-color: #fff;
          //border-bottom: @border_width solid #bcb100;
          //background-image: none;
        }
      }
    }
  }

  .guiPopoverBodyV1 {
    max-height: 180px;
    color: #000000;
  }

  .guiPopoverBodyV2 {
    max-height: 350px;
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgb(0,0,0,0));
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgb(0,0,0,0));
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgb(0,0,0,0));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgb(0,0,0,0));
    background-image: linear-gradient(top, rgba(0,0,0,0), rgb(0,0,0,0));
  }

  // .arrow {
  //   &.arrow-up {
  //     border-bottom: @hivent_info_popover_arrow_height solid #fff;
  //   }

  //   &.arrow-down {
  //     border-top: @hivent_info_popover_arrow_height solid #fff;
  //   }

  //   &.arrow-right {
  //     border-left: @hivent_info_popover_arrow_height solid #fff;
  //   }

  //   &.arrow-left {
  //     border-right: @hivent_info_popover_arrow_height solid #fff;
  //   }
  // }
}

.tooltip-inner {
    background-color: #fff;
    opacity: 1 !important;
    font-size: 14px !important;
    font-weight: normal !important;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: #333;

    border: none !important;
    border-radius: 0px !important;

    box-shadow: 1px 1px 2px 2px rgba(0,0,0,@shadow_intensity);

    max-width: 350px;
}

.tooltip {
    opacity: 1 !important;

    &.bottom {
        .tooltip-arrow {
            border-bottom-color: #fff;
        }
    }

    &.top {
        .tooltip-arrow {
            border-top-color: #fff;
        }
    }

    &.left {
        .tooltip-arrow {
            border-left-color: #fff;
        }
    }

    &.right {
        .tooltip-arrow {
            border-right-color: #fff;
        }
    }
}


// country names
// class: style/modules/areas/leaflet_labels_override.less

.leaflet-label
{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  color: rgb(200,200,200) !important;
  font-style: italic !important;
  .transition(opacity 0.5s ease-in-out);

  &.invisible {
    opacity: 0.0 !important;
  }
}

.control-buttons {

  z-index: 3;

  .control-buttons-group {
    //box-shadow: 1px 1px 2px 2px rgba(0,0,0,@shadow_intensity);

    .control-buttons-button {
      &:hover {
        //background-color: #bcb100;
      }
    }
  }
}


.markerLabel
{
  position: fixed;
  left: 20px;
  background-color: ghostwhite;
  white-space: nowrap;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,@shadow_intensity);
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-buttom: 3px;
  border-radius: 5px;
}

.clusterLabelOnMap
{
  position: fixed;
  left: 20px;
  background-color: ghostwhite;
  white-space: nowrap;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,@shadow_intensity);
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-buttom: 3px;
  border-radius: 5px;
}
