// ------------------ SIDE_BAR OPTIONS -----------------------------------------
@sidebar_collapse_button_size: 50px;
@sidebar_aimation_speed: 0.3s;


// ------------------- WIDGET OPTIONS ------------------------------------------
@widget_aimation_speed: 0.3s;
@widget_title_size: 40px;
@widget_title_background_color: #fc0;
@widget_title_text_color: #444;
@widget_background_color: #fff;
@widget_text_color: #333;

@widget_title_gradient_effect: 0%;

@widget_border_radius_top_left: 10px;
@widget_border_radius_top_right: 10px;
@widget_border_radius_bottom_left: 10px;
@widget_border_radius_bottom_right: 10px;

@widget_font_size: 14px;


// ------------------ TIMELINE OPTIONS -----------------------------------------
@timeline_height: 80px;
