
//////////////////////// INCLUDES //////////////////////////////////////////////

@import "third-party/prefixer.less";

@import "config.less";
@import "common.less";

@import "timeline/timeline.less";
@import "timeline/now_marker.less";

@import "sidebar/widgets.less";


///////////////////////// LAYOUT ///////////////////////////////////////////////

// ------------------------ MAP ------------------------------------------------

#mapArea {
  position: absolute;
  overflow: hidden;

  top: 0;
  bottom: @timeline_height;

  box-shadow: 0 0 20px rgba(0,0,0,1.0);
  background-color: #aaa;

  .transition-property(right);
  .transition-duration(@sidebar_aimation_speed);
  .transition-timing-function(ease-in-out);
}

// ------------------------ SIDEBAR --------------------------------------------
#sidebarArea {
  position: absolute;
  width: @sidebar_width;

  overflow-y:auto;
  overflow-x:hidden;

  top: 0;
  bottom: @timeline_height;

  .transition-property(right width);
  .transition-duration(@sidebar_aimation_speed);
  .transition-timing-function(ease-in-out);

  background-color: #888;
  background-image:url('../img/bg.png');
  background-repeat:repeat;
}

// ------------------------ TIMELINE -------------------------------------------
#timelineArea {
  position: absolute;
  overflow: hidden;

  height: @timeline_height;
  left: 0;
  right: 0;
  bottom: 0;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  background-color: #347654;
}

// ------------------------ SIDEBAR BUTTON -------------------------------------
#collapseButton {
  position: absolute;

  padding-right: 10px;
  font-size: @sidebar_collapse_button_size;
  top: 10px;
  cursor: pointer;

  .transition-property(right);
  .transition-duration(@sidebar_aimation_speed);
  .transition-timing-function(ease-in-out);

  color: rgba(0, 0, 0, 0.5);

  &:hover {
    color: rgba(0, 0, 0, 1.0);
  }
}

.swiper-scrollbar {
  background: none;
  position: absolute;
  right: 3px;
  top: 0;
  height: 100%;
  width: 5px;
}

