
//////////////////////// INCLUDES //////////////////////////////////////////////

@import "third-party/prefixer.less";

@import "config.less";
@import "common.less";

@import "sidebar/sidebar.less";

@import "timeline/timeline.less";
@import "timeline/now_marker.less";

@import "modules/modules.less";

@import "sidebar/widgets.less";


///////////////////////// LAYOUT ///////////////////////////////////////////////

// .noAnimation {
//   .transition-duration(0s);
// }

// ------------------------ MAP ------------------------------------------------

#top-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  bottom: @timeline_height;
}

// ------------------------ MAP ------------------------------------------------

#map-area {
  position: relative;
  // overflow: hidden;

  // top: 0;
  // left: 0;
  // bottom: @timeline_height;

  height: 100%;

  .transition-property(right);
  // .transition-property(width);
  .transition-duration(@sidebar_aimation_speed);
  .transition-timing-function(ease-in-out);
}

#map-canvas {
  position: relative;
  overflow: hidden;
  // right: 0;
  // left: 0;
  // top: 0;
  // bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #555;

  // .transition-property(right);
  // .transition-property(width);
  // .transition-duration(@sidebar_aimation_speed);
  // .transition-timing-function(ease-in-out);
}

// ------------------------ SIDEBAR --------------------------------------------
#sidebar-area {
  position: relative;
  width: @sidebar_width;
  height: 100%;

  overflow:hidden;

  .transition-property(right width);
  .transition-duration(@sidebar_aimation_speed);
  .transition-timing-function(ease-in-out);
}

// ------------------------ TIMELINE -------------------------------------------
#timeline-area {
  position: absolute;
  overflow: hidden;

  height: @timeline_height;
  left: 0;
  right: 0;
  bottom: 0;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

// ------------------------ SIDEBAR BUTTON -------------------------------------
#collapse-button {
  position: absolute;

  padding-right: 10px;
  font-size: @sidebar_collapse_button_size;
  top: 10px;
  right: 0px;
  cursor: pointer;

  // .transition-property(right);
  // .transition-duration(@sidebar_aimation_speed);
  // .transition-timing-function(ease-in-out);

  color: rgba(0, 0, 0, 0.5);

  &:hover {
    color: rgba(0, 0, 0, 1.0);
  }
}

.swiper-scrollbar {
  background: none;
  position: absolute;
  right: 3px;
  top: 0;
  height: 100%;
  width: 5px;
}

