
.leaflet-label {
  background-color: transparent;
  border-color: transparent;
  font-size: 0.9em;
  pointer-events: none;

  line-height: 0.8em;

  text-align: center;

  color: #333;
  text-shadow:
    -1px -1px 0 #e6d4bb,
    1px -1px 0 #e6d4bb,
    -1px 1px 0 #e6d4bb,
    1px 1px 0 #e6d4bb;

  opacity: 0.0 !important;
  .transition(opacity 0.5s ease-in-out);

  &.visible {
    opacity: 1.0 !important;
  }
}

.leaflet-label-small {
  font-size: 0.8em;
}

.leaflet-marker-pane {
  z-index: 20 !important;
}


.tooltip-inner {
  z-index: 30 !important;
}
