
.header-button-top {
  right: 10px;
  top: 10px;
  position: absolute;
  font-size: 130%;
}

#back-link,
.header-button-top a {
  color: #777;
  cursor:pointer;
}

#map-container {
  position: relative;
  width: 100%;
  height: 100%;
}
