body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#home {
  width: 100%;
}

#map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#legend {
  padding: 10px;
  position: absolute;
  right: 0px;
  bottom: 200px;

  width: @right_menu_width;
  .bordered-interface-element();
  .border-radius(@roundness * 3px 0 0 @roundness * 3px);
}

#editMenu {
  .border-radius(0 0 @roundness * 3px 0);
  .bordered-interface-element();
  top: 0px;
  padding: 8px 8px 8px 8px;
  position: absolute;
  width: @right_menu_width;
  left: 0;
}

#fullscreenMenuRight {
  .border-radius(@roundness * 3px 0 0 @roundness * 3px);
  .bordered-interface-element();
  bottom: 140px;
  padding: 8px 8px 8px 8px;
  position: absolute;
  width: @right_menu_width;
  right: 0;
}

#home {
  font-size: 14px;
  text-align: left;
  line-height: 1.5em;
}

#version-hints {
  max-height: 150px;
  overflow-y: scroll;
}

.hg {
  font-family: 'Marcellus SC' !important;
  font-size: 0.9em !important;
}

.hg:after {
  content: "®";
  position: relative;
  top: -0.3em;
  font-size: 0.7em;
}
