body {
  text-align: justify;
  padding: 0px;
  margin: 0px;
}

#home {
  width: 100%;
}

#map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#legend {
  padding: 10px;
  position: absolute;
  right: 0px;
  bottom: 200px;

  width: @right_menu_width;
  .bordered-interface-element();
  .border-radius(@roundness * 3px 0 0 @roundness * 3px);
}

#fullscreenMenuRight {
  .border-radius(@roundness * 3px 0 0 @roundness * 3px);
  .bordered-interface-element();
  bottom: 140px;
  padding: 8px 8px 8px 8px;
  position: absolute;
  width: @right_menu_width;
  right: 0;
}

.hero-unit {
  color: #505050;
  font-size: 14px;
  text-align: left;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 1.5em;
  position: relative;
}

.hg {
  font-family: 'Marcellus SC' !important;
  font-size: 0.9em !important;
}

.hg:after {
  content: "®";
  position: relative;
  top: -0.3em;
  font-size: 0.7em;
}
