/*** STYLE OF TIMELINE ***/

@fontSize:        18px;
@fontColor:       #000000;

/*** MAIN TIMELINE DIV ***/
#timeline {
  position:   absolute;
  left:       0px;
  bottom:     0px;
  height:     65px;
  min-width:  100%;
  overflow:   hidden;
  background: #c0c0c0;
}

/*** ELEMENT IN TIMELINE ***/
.yearMarker {
  position:     absolute;
  font-size:    @fontSize;
  color:        @fontColor;
  height:       50px;
  padding:      15px 0px 0px 0px;
  text-align:   center;
  cursor:       pointer;

  /* disable text-selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.yearMarker:hover {
  cursor:       pointer;
}

.yearMarker:active {
  cursor:       pointer;
}
