.gallery-widget {
  position: relative;
  text-align: center;

  // basic geometry ------------------------------------------------------------
  .swiper-slide {
    position: relative;
    padding-left: @widget_body_padding;
    padding-right: @widget_body_padding;
    padding-bottom: @widget_body_padding;
    overflow: hidden;
  }

  .gallery-widget-slider {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  // basic style ---------------------------------------------------------------
  .shadow {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: @widget_body_padding;
  }

  .shadow-left {
    left: 0px;
    .linear-gradient-left(fade(@widget_background_color, 0%), fade(@widget_background_color, 100%), 0%, fade(@widget_background_color, 0%), 100%);
  }

  .shadow-right {
    right: 0px;
    .linear-gradient-left(fade(@widget_background_color, 0%), fade(@widget_background_color, 0%), 0%, fade(@widget_background_color, 100%), 100%);
  }

  // pagination ----------------------------------------------------------------

  .pagination-container {

    z-index: 2;

    .gallery-pagination {

      .swiper-pagination-switch {
        display: inline-block;
        width: @gallery_widget_pagination_size * 0.6;
        height: @gallery_widget_pagination_size * 0.6;
        border-radius: @gallery_widget_pagination_size * 0.6;
        background-color: darken(@widget_background_color, 50%);
        margin-right: @gallery_widget_pagination_size * 0.2;
        margin-bottom: @gallery_widget_pagination_size * 0.4;
        cursor: pointer;

        .transition(background-color 0.2s);
      }

      .swiper-pagination-switch:hover {
        background-color: #555;
      }

      .swiper-active-switch, .swiper-active-switch:hover {
        border: 1px solid #aaa;
        background: #fff;
      }
    }
  }

  // pagination arrows ---------------------------------------------------------
  .arrow {
    z-index: 2;
    position: absolute;
    bottom: @widget_body_padding * 0.5;
    opacity: 0;
    font-size: @gallery_widget_pagination_size;
    width: @gallery_widget_pagination_size;
    height: @gallery_widget_pagination_size;

    cursor: pointer !important;

    .transition(opacity 0.5s);

    &:hover {
      opacity: 1 !important;
    }

    .hidden {
      display: none;
    }
  }

  &:hover .arrow {
    opacity: 0.5;
  }

  .arrow-left {
    left: @widget_body_padding;
  }

  .arrow-right {
    right: @widget_body_padding;
  }
}
