.time-gallery-widget {
  position: relative;
  text-align: center;

  .hg-gallery {
    // pagination ----------------------------------------------------------------
    .pagination-container {

      z-index: 2;
      line-height: 3em;
      font-family: @secondary_font_face;

      .gallery-pagination {

        .swiper-pagination-switch {
          vertical-align: middle;
          color: #999;
          // height: @gallery_widget_pagination_size * 0.6;
          margin-right: @gallery_widget_pagination_size * 0.5;
          font-size: 1.0em;
          display: inline-block;
          width: auto;
          height: auto;
          border-radius: 0;
          background: none;

          cursor: pointer;

          .transition-property(font-size);
          .transition-duration(0.2s);
        }

        .swiper-pagination-switch:hover {
          color: #777;
          border: none;
          background: none;
        }

        .swiper-active-switch, .swiper-active-switch:hover {
          color: #555;
          border: none;
          font-size: 1.7em;
          background: none;
        }
      }
    }
  }
}
