.vip-widget {

  .vip-widget-name {
    font-family: @secondary_font_face;
    font-size: 28pt * @widget_font_size_factor;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 10px 10px 0px 5px;

    line-height: 1.1em;
    text-align: right;

    small {
      font-size: 18pt * @widget_font_size_factor;
    }
  }

  .vip-widget-copyright {
    font-size: 10pt * @widget_font_size_factor;
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    padding-right: 5px;
    padding-top: 2px;
  }

  .vip-widget-text {
    text-align: left;
  }

  .vip-widget-image {
    position: relative;

    width: 100%;
    height: 200px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    border: @border_width solid @border_color;
    border-radius: @widget_border_radius_top_left @widget_border_radius_top_right @widget_border_radius_bottom_right @widget_border_radius_bottom_left;

    margin-right: @widget_body_padding;
    margin-bottom: @widget_body_padding;

    overflow: hidden;
  }
}
