.vip-widget {

  .name {
    font-size: 2em;
    float: right;
  }

  .date {
    font-size: 1.5em;
    float: right;
  }

  .text {
    text-align: justify;
  }

  img {
    width: 100px;
    height: auto;
    float: left;

    padding: 3px;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
