/*----css page for user account---*/

/*Tab Menu - Buttons Login and Register*/
.adminArea {
	position: absolute ;
	right:3px;
	top:2px;
	width:200px;
	height:20px;
	background-image: url(adminArea2.png);
}

.menu1 {
	position: absolute ;
	right:3px;
	top:0px;
	padding-right:10px;
	/*border-bottom:solid 3px green ;*/
	background-image: url(adminArea2.png) bottom no-repeat;
  } 

 /*Font color*/ 
 body {
  background: red;;
  color: #002200;
} 
 
/*Menu buttons*/
.tab { 
	margin:0px 5px 0px 20px ; 
	padding:2px 0px 0px 0px ;
	font-size : 15px ;
	float:left ;
	width:40px ; 	
	text-decoration:none ;
	text-align:center;
  } 
  
/*Change the color when you hover the buttons*/
a.tab:hover {color:green}
 
 /*Login font style for connexion.php*/
.form1{
	position:absolute;
	top:10%;
	left:40%;
	height:120px;
	width: 370px;
	background: #FCFAE1;
	border: 3px solid grey;
}

 /*Registration form font style for inscription.php*/
		 /*For an individual*/
		.form2{
			position:absolute;
			top:240px;
			left:40%;
			height:300px;
			width: 370px;
			background: #FCFAE1;
			border: 3px solid grey;
		}
		 /*For a private institution*/
		.form3{
			position:absolute;
			top:240px;
			left:40%;
			height:280px;
			width: 370px;
			background: #FCFAE1;
			border: 3px solid grey;
		}
.registrationButtons{
	position:absolute;
	top:130px;
	left:40%;
	height:100px;
	width: 370px;
	background: #FCFAE1;
	border: 3px solid grey;
}

.aboutPage{
	position:absolute;
	top:190px;
	left:40%;
	height:340px;
	width: 370px;
	background: #FCFAE1;
	border: 3px solid grey;
}


/*Confirmation message - confirmation.php*/
.confirmation{
	position:absolute;
	top:10%;
	left:40%;
	height:140px;
	width: 450px;
	background: #FCFAE1;
	border: 3px solid grey;
}

/*Footprint for copyright*/
.footPrintCopyright {
 position:absolute;
 font-size:9px;
 top: 95%;
 left:37%;
 font-family:Arial;
 text-align:center;
 color:grey;
 padding-bottom:1px;
}
