.leaflet-label {
  background-color: #fff;
  border-color: #666;
  font-size: @map_label_size !important;
  pointer-events: none;
  font-weight: bold !important;
  // line-height: 0.8em;

  font-family: @secondary_font_face !important;

  // text-align: center;

  color: #444;
  // text-shadow:
  //   -1px -1px 0 #fff,
  //   1px -1px 0 #fff,
  //   -1px 1px 0 #fff,
  //   1px 1px 0 #fff;

  .transition(opacity 0.5s ease-in-out);

  &.invisible {
    opacity: 0.0 !important;
  }
}

.leaflet-label-small {
  font-size: 0.8em;
}

.leaflet-marker-pane {
  z-index: 7 !important;
}


.tooltip-inner {
  z-index: 30 !important;
}
