#title {

    position: absolute;
    left: 0;
    right: 0;

    color: @widget_title_text_color;
    padding: @popover_title_padding @popover_title_padding 0 @popover_title_padding;
    border-bottom: @border_width solid @border_color;
    .linear-gradient-top(@widget_title_background_color, lighten(@widget_title_background_color, @widget_title_gradient_effect), 0%, @widget_title_background_color, 100%);

    box-shadow: 0 0 @shadow_radius rgba(0,0,0,@shadow_intensity);

    font-size: 40px;
}

