#title_container {

    width: 500px;
    overflow: hidden;

    font-size: 40px;
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 5px;

    position:   absolute;
    left:       185px;
    top:		5px;

    pointer-events:none;
}

.title_container {}