svg .countryname {
/* Firefox chokes a bit on strokes around fonts */
 /*stroke: none !important; 
  stroke-opacity:1;
  fill: #ffe;
  font-weight: normal !important; */
}
.czoom2 {
  stroke-width: .3;
}
.czoom3 {
  stroke-width: .4;
}
.czoom4 {
  stroke-width: .5;
}
.czoom5 {
  stroke-width: .9;
}
.czoom6 {
  stroke-width: 1.1;
}
.czoom7 {
  stroke-width: 1.4;
}