/*** 1. LEVEL: wrapper and container ***/

#rbContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  padding: 0 3px 0 0;	
}

#rightbox {
  z-index: 1;
  position: relative;
  width: 200px;
	float:left;
	background: transparent url(../images/rbMain.png) repeat-y scroll;
}

#rbEnd {
  z-index: 3;
  position: relative;
	float: left;
	height: 28px;
	width: 200px;
	background: url(../images/rbEnd.png) left no-repeat;
}

#rbShadow {
  position: absolute;
  top: 0;
  right: 10px;
  width: 180px;
  -moz-box-shadow:    -1px 1px 20px 1px #000;
  -webkit-box-shadow: -1px 1px 20px 1px #000;
  box-shadow:         -1px 1px 20px 1px #000;
}

/** HORIZONTAL SEPERATORS **/
#rightbox hr {
  width: 90%;
  height: 1px;
  border: 0;
  padding: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #5c4200;  /* for FF and Opera */
  color: #5c4200;               /* for IE */
}



/*** 2. LEVEL: admin area, category selection and information box ***/

/** ADMIN AREA **/

#adminArea {
  position:relative;
  width: 200px;
}

#adminArea table tr td {
  text-align: center;
  width: 50px;
  font-size: 0.8em;
  font-weight: bold;
  padding-right: 3px;
}

#adminArea a {
  text-decoration: none;
}
#adminArea a:visited {
  color:black;
}
#adminArea a:hover {
  color:purple;
}

#loginbox {
	position:relative;
  display: none;
}

#loginbox form div {
  margin: 5px 7px 3px 7px;
}

.loginField {
  position: relative;
  height: 18px;
  width: 180px;
}

.loginField label {
  display: block;
  position: absolute;
  top: 50%;
  margin: -8px 5px 0 0;
  width: 60px;
  height: 14px;
  text-align: right;
  font-size: 0.75em;
}

.loginField input {
  display: block;
  float: right;
  width: 110px;
  color: #003300;
  background: #ffffff;
  border: 1px solid #003300;
}

#loginButtons {
  position: relative;
  left: 69px;
}

#loginButtons input {
  font-size: 0.9em;
  background: #e1a71b;
  color: #000;
  border: 1px solid #003300;  
}


/** CATEGORY BOX **/

#catHead {
  margin: 1px 5px 1px 10px;
  font-size: 0.9em;
  font-weight: bold;
}

#catBox form {
	margin: 3px 5px 0 15px;
}

.catSelect {
  position: relative;
  margin: 0 3px 0 3px;
  height: 18px;
  width: 140px;
  font-size: 0.9em;
}

.catSelect input {
  position: absolute;
  top: 50%;
  left: 0;
  margin: -10px 0 0 0;
  width: 15px;
  height: 20px;
}

.catSelect label {
  position: absolute;
  top: 50%;
  left: 20px;
  margin: -10px 0 0 0;
  height: 20px;
}


/** INFORMATION BOX **/

#infoBox {
  position:relative;
  width: 200px;
  min-height: 130px;
}

.infoBox-empty {
	background: url(../images/hgLogo.png) center center no-repeat;
}

.infoBox-filled {
	background: url(../images/hgLogo-bg.png) center center no-repeat;
}
	

#infoBox div {
  margin: 2px 13px 2px 11px;
  overflow: hidden;
}


#eventTitle {
  padding: 5px 0 0 0;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

#eventDate {
  padding: 3px 0 0 0;
  text-align: center;
  font-size: 1.0em;
}

#eventAbstract {
  padding: 5px 0 5px 0;
  text-align: justify;
  font-size: 0.8em;
}

#eventInfo {
  position: static;
  float: right;
  width: 60px;
  padding-right: 42px;
  text-align: center;
}

#eventClose {
  position: static;
  float: left;
  width: 15px;
}

#closelink {
	cursor:pointer;
}
