@hg_grey: #575756; //HistoGlobe dunkelgrau
@hg_green: #d5c900; //HistoGlobe gelbgrün

.search-box-area {
  position: absolute;
  top: 10px;
  padding-left: 0px;

  margin: 5px 5px 5px 0;
  font-size: 20pt * @widget_font_size_factor;
  border-radius: @widget_border_radius_top_left @widget_border_radius_top_right @widget_border_radius_bottom_right @widget_border_radius_bottom_left;
  z-index: 10;

  .transition-property(left);
  .transition-duration(@sidebar_aimation_speed);

  .logo {
    color: @widget_title_text_color;
    cursor: auto;
    padding: 0px 8px 0 8px;
    text-align: center;

    &:first-child {
      border-top-left-radius: @widget_border_radius_top_left;
      border-top-right-radius: @widget_border_radius_top_right;
    }

    &:last-child {
      border-bottom-right-radius: @widget_border_radius_bottom_right;
      border-bottom-left-radius: @widget_border_radius_bottom_left;
    }

    .hg-logo{
      background-color: transparent;
      width: 80px;
    }
  }

  .search-box {
    position: absolute;
    top: 5px;
    left: 100px;
    //float:left;
    //width: 320px;

    //top: 3px;
    height: 29px;
    width: 354px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);

    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

    .search-form {
      height: 29px;

      #search-input {
        position: absolute;
        margin: 0;
        top: 0px;
        height: 29px;
        width: 320px;
        padding: 10px;
        font-family: roboto;
        font-weight: 100;
        font-size:16px;
        outline: none;
        text-align: left;
        text-decoration: none;
        color: #000000;
        border: none; //solid 1px #000000; 
        //border-top-left-radius: 3px 3px;
        //border-bottom-left-radius: 3px 3px;
      }

      .clear {
        position: absolute;
        top: 0px;
        left: 300px;
        height: 29px;
        float:left;
        font-size: 20px;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    

    .search-icon {
      position: absolute;
      top: 0px;
      left: 320px;
      float:left;
      height: 29px;

      //margin: 0;
      padding: 4px 10px;
      font-family: Arial, Helvetica, sans-serif;
      font-size:15px;
      outline: none;
      cursor: auto;
      text-align: center;
      text-decoration: none;
      color: #ffffff;
      //border: solid 1px @hg_grey;
      //border-right:0px;
      background: @hg_green;
      //border-top-right-radius: 5px 5px;
      //border-bottom-right-radius: 5px 5px;
    }

    /* Fixes height problem in Firefox */
    .search-icon::-moz-focus-inner {
      border: 0;
    }

    #search-results {
      position: absolute;
      top: 32px;
      width: 320px;
      max-height: 300px;
      padding-left: 5px;
      font-size:15px;
      color: #000000;
      background: #ffffff;

      -webkit-box-shadow: 0px 0px 5px 3px #888888;
      -moz-box-shadow: 0px 0px 5px 3px #888888;
      box-shadow: 0px 0px 5px 3px #888888;

      overflow-y: auto;
      a {
        color:black;
        &:hover{
          text-decoration: none;
          font-weight: bold;
        }
      }
      .itemhover {
          background-color: @hg_green !important;
      }
    }

    #options {
      width: 320px;
      padding: 0px 5px;
      background: #ffffff;

      .msg {
        font-size:16px;
        color: #000000;
      }

      .selection {
        font-size:14px;
        color: #000000;
      }
    }
  }
}