@hg_grey: #575756; //HistoGlobe dunkelgrau
@hg_green: #d5c900; //HistoGlobe gelbgrün

.search-box-area {
  position: absolute;
  top: 20px;
  padding-left: 0px;

  margin: 5px 5px 5px 0;
  font-size: 30pt * @widget_font_size_factor;
  border-radius: @widget_border_radius_top_left @widget_border_radius_top_right @widget_border_radius_bottom_right @widget_border_radius_bottom_left;

  .transition-property(left);
  .transition-duration(@sidebar_aimation_speed);

  .logo {
    color: @widget_title_text_color;
    cursor: auto;
    padding: 0px 8px 0 8px;
    text-align: center;

    &:first-child {
      border-top-left-radius: @widget_border_radius_top_left;
      border-top-right-radius: @widget_border_radius_top_right;
    }

    &:last-child {
      border-bottom-right-radius: @widget_border_radius_bottom_right;
      border-bottom-left-radius: @widget_border_radius_bottom_left;
    }

    .hg-logo{
      background-color: transparent;
      width: 80px;
    }
  }

  .search-box {
    position: absolute;
    top: 0px;
    left: 100px;
    float:left;
    width: 320px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

    #search-input {
      margin: 0;
      width: 320px;
      font-size:20px;
      outline: none;
      text-align: left;
      text-decoration: none;
      color: #000000;
      border: solid 1px #000000; 
      border-right: 0px;
      border-top-left-radius: 3px 3px;
      border-bottom-left-radius: 3px 3px;
    }

    .search-results {
      width: 320px;
      max-height: 300px;
      padding: 0px 5px;
      font-size:15px;
      color: #000000;
      background: #ffffff;
      overflow-y: auto;
      a {
        color:black;
        &:hover{
          text-decoration: none;
        }
      }
    }

    // .search-results:before span[data-type=event] {
    //   font-family: FontAwesome;
    //   content: "\f041";
    // }

    // .search-results:before span[data-type=place] {
    //   font-family: FontAwesome;
    //   content: "\f015";
    // }

    // .search-results:before span[data-type=person] {
    //   font-family: FontAwesome;
    //   content: "\f007";
    // }

    // .search-results:before span[data-type=year] {
    //   font-family: FontAwesome;
    //   content: "\f073";
    // }

    #options {
      width: 320px;
      padding: 0px 5px;
      background: #ffffff;

      .msg {
        font-size:16px;
        color: #000000;
      }

      .selection {
        font-size:14px;
        color: #000000;
      }
    }
  }

  .search-icon {
    position: absolute;
    top: 2px;
    left: 420px;
    float:left;

    height: 32px;

    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    outline: none;
    cursor: auto;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px @hg_grey;
    //border-right:0px;
    background: @hg_green;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
  }

  /* Fixes height problem in Firefox */
  .search-icon::-moz-focus-inner {
    border: 0;
  }
}