
// radius of now marker box
@radius:    90px;
@inRadius:  72px;

// main container of Now Marker
#now_marker {

    // position & size
    position:       absolute;
    z-index:        0;
    left:           0px;
    bottom:         @timeline_height;
    width:          (@radius * 2);
    height:         (@radius);
    visibility:     hidden;
    overflow:hidden;

    // colors
    background:         rgba(30,30,30,0.8);
    /*background-image:   url('../data/timeline/numbersNowMarker.png');
    background-repeat:  no-repeat;*/
    //box-shadow:         0 0px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);

    .border-radius(@timeline_roundness * @radius @timeline_roundness * @radius 0 0);
}

// pointer to show current speed of timeline
#now_marker_pointer {

    // position & size
    position:   absolute;
    z-index:    1;
    left:       89px;
    bottom:     -90px;
    height:     (@radius * 2);
    width:      2px;
    background: #eee;
    box-shadow:         0 0px 2px rgba(0, 0, 0, 0.2);
}

#now_marker_arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #eee;

    // position & colors
    position:   absolute;
    z-index:    3;
    //left:       0px;
    bottom:     @timeline_height - 18px;
    margin-left: -9px;
}

// Inner circle
#now_marker_in {

    // position & size
    position:       absolute;
    z-index:        2;
    width:          (@inRadius * 2);
    height:         @inRadius;
    margin:         (@radius - @inRadius) (@radius - @inRadius) 0px (@radius - @inRadius);

    // colors
    //box-shadow:         0 0px 2px rgba(0, 0, 0, 0.2);
    //border:             1px solid #C4C4C4;
    .border-radius(@timeline_roundness * @inRadius @timeline_roundness * @inRadius 0 0);
    background:         #eee;
    //.linear-gradient-top(rgba(255,255,255, 0.0), #fff, 0, rgba(218, 218, 218, 1), 50%);
}

// input field for now marker year
#now_date_input {

    // position & size
    width:          78px;
    margin:         0px 0px 0px 34px;
    //padding-left:   3px;
    border:none;
    background: #eee;

    // colors
    color:      #333;
}

// play button in the middle of Now Marker
#now_marker_play {

    // position & size
    margin:     10px auto 10px auto;

    // change cursor on mouse over
    &:hover {   cursor: pointer;    }

    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;

    border-left: 16px solid #333;
}

// litte sign pointing on now marker on timeline
#now_marker_sign {

    // position & colors
    position:   absolute;
    z-index:    3;
    left:       0px;
    bottom:     @timeline_height - 18px;
    width:      20px;
    height:     20px;
}

// numbers to show values of speed
.nrNM {

    // position & size
    position:   absolute;
    left:       0px;
    bottom:     0px;
}
