//  -------------------------------------------------------------------
#tl {
  position:   absolute;
  left:       0px;
  bottom:     0px;

  height:     @timeline_height;
  min-width:  100%;
  overflow:   hidden;

  cursor:     -webkit-grab;
  cursor:     -moz-grab;

  border-top: solid @border_width @widget_title_background_color;

  #tl_wrapper {
    .linear-gradient-top(#878787, #878787, 0%, #636363, 100%);
    background-repeat: repeat;

    #tl_slide {
      height: @timeline_height - @border_width;

      .tl_datemarker {
        font-family: @secondary_font_face;
        font-size: 100px;
        line-height: 100px;
        color: @timeline_font_color;

        position: absolute;
        left: 0;
        top: 0px;
        padding: 0px 0px 0px 5px;
        z-index: 1;

        border-left: dashed @timeline_borders_width @timeline_font_color;
      }

      .tl_timebar {
        position:         absolute;
        z-index: -99;
        height:           @timeline_height;

        border-left:      solid @timeline_borders_width @timebar_on_timeline_border_color;
        border-right:     solid @timeline_borders_width @timebar_on_timeline_border_color;
        background-color: @timebar_on_timeline_color;
      }
    }
  }
}

