@popover_width: 450px;
@popover_height: @popover_width * 10/16;
@popover_close_size: 30px;
@popover_title_padding: 0px;
@popover_body_padding: 15px;

.guiPopover {
  border-radius: @widget_border_radius_top_left @widget_border_radius_top_right @widget_border_radius_bottom_right @widget_border_radius_bottom_left;
  width: @popover_width;
  height: 350px;
  opacity: 0;
  .transition-property(opacity);
  .transition-duration(0.2s);
  .transition-timing-function(ease-in-out);
  box-shadow: 0 1px @shadow_radius rgba(0,0,0,@shadow_intensity);

  .guiPopoverBodyV1, .guiPopoverBodyV2 {
  //font: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-family: roboto;
  position: absolute;
  padding: @popover_body_padding;

  &.fullscreen {
    max-height: 60%;
  }
  
    .guiPopoverContent {
      font-size: 12pt;

      .hivent-body {

        .guiPopoverTitle {
          font-family: roboto;
          font-size: 27px;
          font-weight: 100;
          padding-left: 0;
          padding-bottom: 10px;
          margin: 0;
          line-height: normal;
        }

        .hivent-content {
          span {
            color: rgb(170, 170, 170);
          }
        }
      }
    }
  }

  .guiPopoverBodyV1 {
    //max-height: 220px;
    color: #000000;
    top: 0;
    padding-top: 40px;
  }

  .guiPopoverBodyV2 {
    max-height: 350px;
    //width: 450px;
    width: 100%;
    bottom: 0;
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgb(0,0,0,0));
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgb(0,0,0,0));
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgb(0,0,0,0));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgb(0,0,0,0));
    background-image: linear-gradient(top, rgba(0,0,0,0), rgb(0,0,0,0));
  }

  .guiPopoverBodyBig {
    //font: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-family: roboto;
    padding: @popover_body_padding;
    background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgb(0,0,0,0));
    background-image: -moz-linear-gradient(right, rgba(0,0,0,0), rgb(0,0,0,0));
    background-image: -ms-linear-gradient(right, rgba(0,0,0,0), rgb(0,0,0,0));
    background-image: -o-linear-gradient(right, rgba(0,0,0,0), rgb(0,0,0,0));
    background-image: linear-gradient(right, rgba(0,0,0,0), rgb(0,0,0,0));

    &.fullscreen {
      max-height: 60%;
    }
  
    .guiPopoverContentBig {

      .hivent-body-big {
        padding-top: 30px;

        .guiPopoverTitleBig {
          font-family: @primary_font_face;
          font-size: 27px;
          font-weight: 100;
          padding-left: 0;
          padding-bottom: 10px;
          margin: 0;
          line-height: normal;
        }

        .hivent-content-big {
          span {
            color: rgb(170, 170, 170);
          }
        }
      }

      i {
        padding-left: 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &.fullscreen {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 600px;
    min-width: 300px;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    overflow: hidden;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ddd;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .close-button {
    position: absolute;
    z-index: 5;
    color: #D5C900;
    font-size: 35pt;
    opacity: 0.75;
    text-shadow: 0 2px 0 #000;
    top: -8px;
    right: 10px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .expand2FS {
    position: absolute;
    color: #D5C900;
    z-index: 5;
    font-size: 16pt;
    opacity: 0.75;
    text-shadow: 0 2px 0 #000;
    bottom: 2px;
    right: 6px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .compress2Normal {
    position: absolute;
    color: #D5C900;
    z-index: 5;
    font-size: 16pt;
    opacity: 0.75;
    text-shadow: 0 2px 0 #000;
    bottom: 2px;
    right: 6px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.link-button {
  display: block;
  margin: auto;
  text-align: center;
  background-color: #fc0;
  font-size: 14px;
  color: #fff;
  padding: 8px;
  margin-top: 12px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: #fff;
  }
}