#imprint-link {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #aaa;
  z-index: 5;
  font-size: 0.7em;
  margin-bottom: 2px;
  margin-right: 7px;
}

#imprint-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);

  display: none;
  z-index: 999;
}

#imprint-box {
  margin: 0 auto;
  margin-top: 50px;
  width: @imprint_width;
  background-color: white;
  color: black;
  -webkit-box-shadow: 5px 5px 10px -1px rgba(135,135,135,1);
  -moz-box-shadow: 5px 5px 10px -1px rgba(135,135,135,1);
  box-shadow: 5px 5px 10px -1px rgba(135,135,135,1);
}
