.galleryWidget {
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 300px;
  overflow: hidden;

  .swiper-wrapper {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
